# Loading libraries and data

In [57]:
import pandas as pd
import numpy as np

market = pd.read_csv("AAPL Historical Data.csv", decimal=",")
market = pd.DataFrame(market)

# Pre-processing data for analysis

In [58]:
# Market first 10 rows
print(market.head(10))

# Market data frame shape
print(market.shape)

# Market data frame types
print(market.dtypes)

# Remove all letters in dataframe
market = market.replace('[^0-9]+', '', regex=True)

## Changing col name "Vol." to be more usefull
market = market.rename(columns = {"Vol.":"Vol"})
### Drop also change%
market = market.drop(columns = "Change %")

         Date   Price    Open    High     Low    Vol. Change %
0  05/01/2023  169.59  169.28  170.45  168.64  49.39M   -0.05%
1  04/28/2023  169.68  168.49  169.85  167.88  55.28M    0.75%
2  04/27/2023  168.41  165.19  168.56  165.19  64.22M    2.84%
3  04/26/2023  163.76  163.05  165.28  162.80  44.11M   -0.01%
4  04/25/2023  163.77  165.19  166.30  163.73  48.17M   -0.94%
5  04/24/2023  165.33  165.00  165.60  163.89  38.99M    0.19%
6  04/21/2023  165.02  165.05  166.45  164.49  58.34M   -0.98%
7  04/20/2023  166.65  166.09  167.87  165.56  52.46M   -0.58%
8  04/19/2023  167.63  165.80  168.16  165.54  47.24M    0.70%
9  04/18/2023  166.47  166.10  167.41  165.65  48.41M    0.75%
(2519, 7)
Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [59]:
# Convert data
market[["Price", "Open", "High", "Low", "Vol"]] = market[["Price", "Open", "High", "Low", "Vol"]].astype(float)

print(market.dtypes)

Date      object
Price    float64
Open     float64
High     float64
Low      float64
Vol      float64
dtype: object

# Desctriptive statistics

In [60]:
market.describe()

              Price          Open          High           Low           Vol
count   2519.000000   2519.000000   2519.000000   2519.000000   2518.000000
mean    6684.670504   6679.204049   6755.195713   6607.434299  15618.103654
std     5047.569997   5041.917160   5108.268469   4980.048166  10101.157983
min     1406.000000   1398.000000   1430.000000   1389.000000    107.000000
25%     2786.500000   2784.000000   2809.000000   2746.500000   8844.500000
50%     4327.000000   4330.000000   4370.000000   4297.000000  12446.500000
75%    11866.500000  11868.000000  12011.000000  11663.000000  19235.250000
max    18201.000000  18263.000000  18294.000000  17912.000000  89869.000000